name: Run tests

on: [push, pull_request]

jobs:  
  test:
    runs-on: windows-latest
    name: Build all projects to test the code
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'
      - name: Setup Android SDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: android-actions/setup-android@v2
      - name: Install workloads
        run: |
          dotnet workload install wasm-tools 
          dotnet workload install android 
          dotnet workload install ios
          dotnet workload install maccatalyst

      - name: Run build script
        run: ./scripts/builder.ps1 './src/'
